/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter";
  --accent-font: "PressStart2P";
  --text-weight: 400;
  --title-weight: 715;
  --dialog-width: clamp(21.313rem, 21.048rem + 1.127vi, 22.063rem);
  --background-image:
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem)
    clamp(1rem, -1.3438rem + 10vw, 7.6563rem);
  --contour-color: #000;
  --main-color: #000;
  --main-bg-color: #fff;
  --animation-fill-color: red;
}
